body {
  background: linear-gradient(
                   rgba(20, 20, 20, 0.397), 
                   rgba(20,20,20, 0.397));
                   vertical-align: middle;
}

nav {
  padding: 40px;
}

h1 {
  color: white;
}

.container {
display: table;
width: 100%;
height: 100%;
min-height: 100%;
}

.login {
padding-top: 200px;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
}

.box {
  width: 500px;
  color: white;
  background-color: #ffc61b;
  padding: 50px;    
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.329); /*THIS does not work as expected*/
}

.btn {
width: 200px;
}

.divider{
  width:5px;
  height:5px;
  display:inline-block;
}

/* Padding for spacing */
.inner {
padding: 55px;
}

@media (min-width: 768px) {
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  .site-wrapper-inner {
    vertical-align: middle;
  }
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }

  .cover-heading {
    font-size: 100px;
  }
}

@media (min-width: 992px) {
  .mastfoot,
  .cover-container {
    max-width: 800px;
  }
  .masthead {
    max-width: 100%;
     }
}